<app-menu [activeState]="'Home'"></app-menu>

<main class="main m-t-80">
  <section class="home-slider position-relative mb-30">
    <div class="home-slide-cover">
      <div class="home-slide-cover mt-30">
        <div class="hero-slider-1 style-4 dot-style-1 dot-style-1-position-1">
          <p-carousel
            [numVisible]="1"
            [numScroll]="1"
            [value]="ads"
            [circular]="true"
            [showIndicators]="false"
            [autoplayInterval]="5000"
            [showNavigators]="false"
          >
            <ng-template pTemplate="item" let-ad>
              <div
                class="single-hero-slider single-animation-wrap"
                style="background-image: url({{ ad.fileName }}); "
              >
                <!-- <div class="content-slider">
                  <h1 class="display-2">
                    Empowering Professionals to <br />
                    era of new learning
                  </h1>
                  <p class="mb-65 mt-30">
                    <a [routerLink]="['/dashboard/sign-up']">
                      <button class="btn" type="submit">Join Us</button></a
                    >
                  </p>
                </div> -->
              </div>
            </ng-template>
          </p-carousel>
        </div>
        <div class="slider-arrow hero-slider-1-arrow"></div>
      </div>
    </div>
  </section>
  <div class="page-content">
    <div class="container">
      <div class="row vendor-grid">
        <div class="col-lg-4 col-md-6 col-12 col-sm-6">
          <a class="card-home" [routerLink]="['/dashboard/courses']">
            <div class="vendor-wrap mb-40">
              <div class="vendor-img-action-wrap">
                <div class="vendor-img">
                  <i class="pi pi-book default-img" style="font-size: 2rem"></i>
                </div>
              </div>
              <div class="vendor-content-wrap mt-4">
                <div
                  class="d-flex justify-content-between align-items-end mb-30"
                >
                  <div>
                    <h4 class="mb-5">Courses</h4>
                    <hr
                      style="
                        border: 2px solid #ff0000;
                        width: 100px;
                        color: #ff0000;
                      "
                    />
                  </div>
                  <div></div>
                </div>

                <div class="vendor-info mb-30">
                  <ul class="contact-infor">
                    <li>
                      <span
                        >Get the best Courses for your <br />
                        Medical profession</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 col-sm-6">
          <a class="card-home" [routerLink]="['/dashboard/gallery']">
            <div class="vendor-wrap mb-40">
              <div class="vendor-img-action-wrap">
                <div class="vendor-img">
                  <i
                    class="pi pi-image default-img"
                    style="font-size: 2rem"
                  ></i>
                </div>
              </div>
              <div class="vendor-content-wrap mt-4">
                <div
                  class="d-flex justify-content-between align-items-end mb-30"
                >
                  <div>
                    <h4 class="mb-5">Events</h4>
                    <hr
                      style="
                        border: 2px solid #ff0000;
                        width: 100px;
                        color: #ff0000;
                      "
                    />
                  </div>
                </div>

                <div class="vendor-info mb-30">
                  <ul class="contact-infor">
                    <li>
                      <span
                        >Attend events and meet <br />
                        like minded people.</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 col-12 col-sm-6">
          <a class="card-home" [routerLink]="['/dashboard/blogs']">
            <div class="vendor-wrap mb-40">
              <div class="vendor-img-action-wrap">
                <div class="vendor-img">
                  <i
                    class="pi pi-pencil default-img"
                    style="font-size: 2rem"
                  ></i>
                </div>
              </div>
              <div class="vendor-content-wrap mt-4">
                <div
                  class="d-flex justify-content-between align-items-end mb-30"
                >
                  <div>
                    <h4 class="mb-5">Buzz</h4>
                    <hr
                      style="
                        border: 2px solid #ff0000;
                        width: 80px;
                        color: #ff0000;
                      "
                    />
                  </div>
                </div>

                <div class="vendor-info mb-30">
                  <ul class="contact-infor">
                    <li>
                      <span
                        >Know what's new happening in the <br />
                        area, read our latest blogs</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12 col-sm-6">
        <div class="p-8">
          <img src="../../../assets/images/events.jpg" alt="" />
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-12 col-sm-6">
        <div class="p-8">
          <hr style="border: 2px solid #ff0000; width: 150px; color: #ff0000" />
          <h2>Events</h2>

          <p class="mt-65">
            <strong>
              Community Events for young minds, <br />
              mentorship between professionals and new students.</strong
            >
          </p>

          <div class="mt-70">
            <a [routerLink]="['/dashboard/gallery']">
              <div class="row">
                <div class="col-4">
                  <h5 class="link">Learn More</h5>
                </div>
                <div class="col">
                  <i
                    class="pi pi-chevron-right link"
                    style="font-size: 1.5rem"
                  ></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<div class="page-header mt-70 mb-20">
  <div class="container">
    <div class="">
      <div class="row align-items-center">
        <div class="col-xl-6">
          <h1 class="mb-15">Most Bought Courses</h1>
          <p>Top selling courses</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mb-30">
  <div class="row flex-row-reverse">
    <div class="col">
      <div class="shop-product-fillter">
        <div class="totall-product">
          <p>
            We found
            <strong class="text-brand">{{ courses?.length }}</strong> courses
            for you!
          </p>
        </div>
        <div class="sort-by-product-area">
          <div class="sort-by-cover mr-10"></div>
          <div class="sort-by-cover"></div>
        </div>
      </div>
      <div class="mb-50">
        <div class="row">
          <div
            class="col-lg-6 col-md-6 col-12 col-sm-12 p-t-20"
            *ngFor="let course of courses"
          >
            <div class="row">
              <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                <div class="">
                  <div class="">
                    <div class="">
                      <a [routerLink]="['/dashboard/courses']">
                        <img class="" src="{{ course.fileName }}" alt="" />
                      </a>
                    </div>
                  </div>
                  <div
                    class="product-badges product-badges-position product-badges-mrg"
                  >
                    <!-- <span class="hot">Trending</span> -->
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a [routerLink]="['/dashboard/courses']">{{
                      course.host
                    }}</a>
                  </div>
                  <h2>
                    <a [routerLink]="['/dashboard/courses']">{{
                      course.courseName
                    }}</a>
                  </h2>
                  <div class="product-rate-cover"></div>

                  <div class="mt-30">
                    <a [routerLink]="['/dashboard/courses']">
                      <div class="row">
                        <div class="col-5">
                          <p class="link">Learn More</p>
                        </div>
                        <div class="col-1">
                          <i
                            class="pi pi-chevron-right link"
                            style="font-size: 1.5rem"
                          ></i>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--single product-->
      </div>
    </div>
  </div>
</div>

<div class="page-header m-t-100 mb-20">
  <div class="container">
    <div class="">
      <div class="row align-items-center">
        <div class="col-xl-6">
          <h1 class="mb-15">Testimonials</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container m-b-50">
  <div class="row p-50">
    <div class="col-6" *ngFor="let testimony of testimonies">
      <div class="d-flex justify-content-center p-6">
        <div>
          <div>
            <img
              src="../../../assets/images/doublequotes.png"
              alt=""
              width="12px"
            />
            <span>{{ testimony.description }}</span>
            <img
              src="../../../assets/images/doublequotes.png"
              class="rotateimage"
              alt=""
              width="12px"
            />
          </div>
          <div class="text-center m-t-40">
            <h4 class="mb-5">
              {{ testimony.testimonyName }}
            </h4>
            <small>{{ testimony.designation }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container m-b-50">
  <p-carousel
    [value]="partners"
    [autoplayInterval]="5000"
    [circular]="true"
    [showIndicators]="false"
    [showNavigators]="false"
    [numVisible]="2"
    [style]="{ 'margin-top': '2em' }"
    verticalViewPortHeight="250px"
  >
    <ng-template pTemplate="header">
      <h4 class="mb-15">Associated Partners</h4>
    </ng-template>
    <ng-template let-partner pTemplate="item">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <img class="banner" src="{{ partner }}" alt="" />
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

<app-footer></app-footer>
