<app-menu [activeState]="'Booking'"></app-menu>

<div class="container my-5 margin-left">
  <p-dropdown
    class="dropdown"
    [options]="bookingType"
    optionLabel="name"
    (onChange)="bookingChange($event)"
  >
  </p-dropdown>
</div>
<div class="container my-5">
  <p-table
    #dt
    [value]="bookingsData"
    dataKey="id"
    [rowHover]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 25, 50]"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="bookingId">Booking Id</th>
        <th pSortableColumn="courseName" *ngIf="!bookingCourse">Event Name</th>
        <th pSortableColumn="courseName" *ngIf="bookingCourse">Course Name</th>
        <th pSortableColumn="category" *ngIf="!bookingCourse">Venue</th>
        <th pSortableColumn="category" *ngIf="bookingCourse">Category</th>
        <th pSortableColumn="host">User's Name</th>
        <th pSortableColumn="dateTime">Booked Date Time</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-booking let-i>
      <tr class="p-selectable-row">
        <td>
          <span class="p-column-title">Booking Id</span>
          {{ booking.id }}
        </td>
        <td *ngIf="!bookingCourse">
          <span class="p-column-title">Event Name</span>
          <span class="image-text">
            <span>{{ booking.eventName }}</span></span
          >
        </td>
        <td *ngIf="bookingCourse">
          <span class="p-column-title">Course Name</span>
          <span class="image-text">
            <span>{{ booking.courseName }}</span></span
          >
        </td>
        <td *ngIf="!bookingCourse">
          <span class="p-column-title">Venue</span>
          <span class="image-text">
            <span>{{ booking.venue }}</span></span
          >
        </td>
        <td *ngIf="bookingCourse">
          <span class="p-column-title">Category</span>
          <span class="image-text">
            <span>{{ booking.category }}</span></span
          >
        </td>
        <td>
          <span class="p-column-title">User's name</span>
          <span class="image-text">{{ displayName(booking.userId) }}</span>
        </td>
        <td>
          <span class="p-column-title">Booked Date Time</span>
          <span class="image-text">{{
            booking.bookedDateTime | date: "short"
          }}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8">No Bookings found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
