<app-menu></app-menu>
<p-toast position="top-center" [hideTransitionOptions]="'3s'"></p-toast>

<main class="main m-t-80">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow"
          ><i class="fi-rs-home mr-5"></i>Home</a
        >
        <span></span> Shop <span></span> Cart
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 px-5">
      <div class="table-responsive shopping-summery">
        <table class="table table-wishlist">
          <thead>
            <tr class="main-heading">
              <th scope="col" colspan="2">Product</th>

              <th scope="col">Subtotal</th>
              <th scope="col">Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr class="pt-30" *ngFor="let data of cartData">
              <td class="image product-thumbnail pt-40">
                <img src="{{ data.fileName }}" alt="#" />
              </td>
              <td class="product-des product-name">
                <h6 class="mb-5">
                  <a class="product-name mb-10 text-heading"
                    >{{ data.courseName }} {{ data.eventName }}</a
                  >
                  <p>{{ data.host }}</p>
                  <p>{{ data.venue }}</p>
                  <p>{{ data.category }}</p>
                </h6>
              </td>
              <td class="price" data-title="Price">
                <h4 class="text-body">₹ {{ data.price }}</h4>
              </td>
              <td class="price" data-title="Remove">
                <a (click)="removeCourse(data)"><i class="pi pi-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="divider-2 mb-30"></div>
      <div class="cart-action d-flex justify-content-between">
        <a class="btn" [routerLink]="['/dashboard/courses']"
          ><i class="fi-rs-arrow-left mr-10"></i>Courses</a
        >
      </div>
    </div>
    <div class="col-lg-4 px-5">
      <div class="border p-md-4 cart-totals ml-30">
        <div class="table-responsive">
          <table class="table no-border">
            <tbody>
              <tr>
                <td class="cart_total_label">
                  <h6 class="text-muted">Total</h6>
                </td>
                <td class="cart_total_amount">
                  <h4 class="text-brand text-end">₹ {{ totalPrice }}</h4>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <a (click)="createRzpayOrder()" class="btn mb-20 w-100" *ngIf="loggedIn"
          >Proceed To CheckOut<i class="fi-rs-sign-out ml-15"></i
        ></a>
        <a *ngIf="!loggedIn" class="m-3">
          Please Sign-Up or Sign-In to Checkout</a
        >
        <a *ngIf="!loggedIn" class="btn m-3" [routerLink]="['/sign-up']">
          Sign-Up
        </a>
        <a *ngIf="!loggedIn" class="btn m-3" [routerLink]="['/sign-in']">
          Sign-In
        </a>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
