<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col">
        <a class="navbar-brand" [routerLink]="''"
          ><img
            src="../../../assets/icons/MediyushSVG.svg"
            alt="MediyushLogo"
            width="60%"
        /></a>
      </div>
      <div class="col d-flex justify-content-end">
        <div class="social-media">
          <p class="mb-0 d-flex">
            <a class="d-flex align-items-center justify-content-center"
              ><span class="fa fa-facebook"
                ><i class="sr-only">Facebook</i></span
              ></a
            >
            <a
              class="d-flex align-items-center justify-content-center"
              href="https://twitter.com/mediyush?t=mbH4RPM4HvGzJtM5YAvFDw&s=09"
              target="_blank"
              ><span class="fa fa-twitter"
                ><i class="sr-only">Twitter</i></span
              ></a
            >
            <a
              class="d-flex align-items-center justify-content-center"
              href="https://www.instagram.com/mediyush/"
              target="_blank"
              ><span class="fa fa-instagram"
                ><i class="sr-only">Instagram</i></span
              ></a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <nav
    class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light"
    id="ftco-navbar"
  >
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars" (click)="showMenu()"> Menu</span>
      </button>
      <div
        class="collapse navbar-collapse"
        [ngClass]="{ show: showMenuFlag }"
        id="ftco-nav"
      >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [ngClass]="{ active: activeState === 'Home' }">
            <a class="nav-link" [routerLink]="['/dashboard-admin']">Home</a>
          </li>
          <li
            class="nav-item"
            [ngClass]="{ active: activeState === 'Courses' }"
          >
            <a
              class="nav-link"
              [routerLink]="['/dashboard-admin/courses-admin']"
              >Courses</a
            >
          </li>
          <li
            class="nav-item"
            [ngClass]="{ active: activeState === 'Booking' }"
          >
            <a
              class="nav-link"
              [routerLink]="['/dashboard-admin/booking-admin']"
              >Booking</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: activeState === 'Users' }">
            <a class="nav-link" [routerLink]="['/dashboard-admin/users-admin']"
              >Users</a
            >
          </li>
          <li
            class="nav-item"
            [ngClass]="{ active: activeState === 'Doctors' }"
          >
            <a
              class="nav-link"
              [routerLink]="['/dashboard-admin/doctors-admin']"
              >Doctors</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: activeState === 'Ads' }">
            <a class="nav-link" [routerLink]="['/dashboard-admin/ads-admin']"
              >Ads</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: activeState === 'Blogs' }">
            <a class="nav-link" [routerLink]="['/dashboard-admin/blogs-admin']"
              >Blogs</a
            >
          </li>
          <li
            class="nav-item"
            [ngClass]="{ active: activeState === 'Testimonials' }"
          >
            <a
              class="nav-link"
              [routerLink]="['/dashboard-admin/testimonials-admin']"
              >Testimonials</a
            >
          </li>
          <li class="nav-item" [ngClass]="{ active: activeState === 'Events' }">
            <a class="nav-link" [routerLink]="['/dashboard-admin/events-admin']"
              >Events</a
            >
          </li>
        </ul>
        <div class="row">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-user"
            class="p-button-rounded p-button-success"
            pTooltip="Profile"
            tooltipPosition="bottom"
          ></button>
          <button
            (click)="signOut()"
            pButton
            pRipple
            type="button"
            icon="pi pi-sign-out"
            pTooltip="Sign-Out"
            tooltipPosition="bottom"
            class="p-button-rounded p-button-danger ml-3"
          ></button>
        </div>
      </div>
    </div>
  </nav>
  <!-- END nav -->
</section>
