<p-confirmDialog
  [style]="{ width: '80%' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<p-toast key="required"></p-toast>
<form [formGroup]="addCourse" (ngSubmit)="showSaveDialog()">
  <div class="grid p-fluid p-grid p-formgrid p-3 justify-content-center">
    <div class="field col-12 md:col-10 lg:col-10">
      <label for="courseName" class="control-label required">Course Name</label>
      <input
        pInputText
        id="courseName"
        type="text"
        class="inputfield w-full"
        formControlName="courseName"
        formControlValidator
      />
      <span
        class="text-danger"
        *ngIf="
          addCourse.get('courseName').touched &&
          addCourse.get('courseName').errors?.required
        "
      >
        Name is required
      </span>
    </div>
    <div class="field col-12 md:col-10 lg:col-10">
      <label for="category" class="control-label required">Category</label>
      <input
        pInputText
        id="category"
        type="text"
        class="inputfield w-full"
        formControlName="category"
        formControlValidator
      />
      <span
        class="text-danger"
        *ngIf="
          addCourse.get('category').touched &&
          addCourse.get('category').errors?.required
        "
      >
        Category is required
      </span>
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="description" class="control-label">Description</label>
      <textarea
        pInputTextarea
        id="description"
        type="text"
        class="inputfield w-full"
        formControlName="description"
      ></textarea>
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="host" class="control-label required">Host</label>
      <input
        pInputText
        id="host"
        type="text"
        class="inputfield w-full"
        formControlName="host"
        formControlValidator
      /><span
        class="text-danger"
        *ngIf="
          addCourse.get('host').touched &&
          addCourse.get('host').errors?.required
        "
      >
        Host Name is required
      </span>
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="price" class="control-label required"
        >Price <span>(in INR)</span></label
      >
      <input
        pInputText
        id="price"
        type="number"
        class="inputfield w-full"
        formControlName="price"
        formControlValidator
      /><span
        class="text-danger"
        *ngIf="
          addCourse.get('price').touched &&
          addCourse.get('price').errors?.required
        "
      >
        Price is required
      </span>
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="duration" class="control-label required"
        >Duration <span>(Write Hours/Days/Months/Years)</span></label
      >

      <input
        pInputText
        id="duration"
        type="text"
        class="inputfield w-full"
        formControlName="duration"
        formControlValidator
        placeholder="12 Days/12 Hours/12 Months"
      />
      <span
        class="text-danger"
        *ngIf="
          addCourse.get('duration').touched &&
          addCourse.get('duration').errors?.required
        "
      >
        Duration is required
      </span>
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="touchui" class="control-label required" v
        >Start Date and Time</label
      >
      <input
        id="disabled-input"
        type="text"
        formControlName="dateDisplay"
        pInputText
      />
      <p-calendar
        formControlName="date"
        [showTime]="true"
        [showWeek]="true"
        [inline]="true"
        (onSelect)="displayDate()"
        dateFormat="dd.mm.yy"
        [hourFormat]="'12'"
        [required]
      ></p-calendar>
      <span
        class="text-danger"
        *ngIf="
          addCourse.get('date').touched &&
          addCourse.get('date').errors?.required
        "
      >
        Date & Time is required
      </span>
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="description" class="control-label"
        >Image to be Displayed for Banner</label
      >
      <input
        type="file"
        (change)="uploadImages($event)"
        accept=".png,.jpg,.jpeg"
        formControlName="fileupload"
      />
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="showOnFirstPage" class="control-label mx-2"
        >Show on Homepage <span>(in most bought)</span></label
      >

      <p-checkbox
        class="mb-2"
        name="groupname"
        formControlName="showOnFirstPage"
        [binary]="true"
        formControlValidator
      ></p-checkbox>
    </div>

    <div class="field col-12 md:col-10 lg:col-10">
      <label for="status">Status</label>
      <p-toggleButton
        onLabel="Active"
        offLabel="Unactive"
        onIcon="pi pi-check"
        offIcon="pi pi-times"
        formControlName="status"
      ></p-toggleButton>
    </div>

    <div
      class="field col-12 md:col-6 lg:col-6 flex align-items-center justify-content-end mt-2"
    >
      <button
        pButton
        pRipple
        type="button"
        label="Cancel"
        class="p-button-rounded p-button-secondary mr-3"
        (click)="close()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        label="Save"
        class="p-button-rounded p-button-success"
        (click)="showSaveDialog()"
      ></button>
    </div>
  </div>
</form>
