<app-menu></app-menu>
<p-toast position="top-center"></p-toast>

<main class="main pages m-t-80">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow"
          ><i class="fi-rs-home mr-5"></i>Home</a
        >
        <span></span> Profile <span></span>
      </div>
    </div>
  </div>

  <div class="page-content pt-150 pb-150">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 m-auto">
          <div class="row">
            <div class="col-md-3">
              <div class="dashboard-menu">
                <ul class="nav flex-column" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="dashboard-tab"
                      data-bs-toggle="tab"
                      href="#dashboard"
                      role="tab"
                      aria-controls="dashboard"
                      aria-selected="false"
                      ><i class="fi-rs-settings-sliders mr-10"></i>Dashboard</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="orders-tab"
                      data-bs-toggle="tab"
                      href="#orders"
                      role="tab"
                      aria-controls="orders"
                      aria-selected="false"
                      ><i class="fi-rs-shopping-bag mr-10"></i>Orders</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="account-detail-tab"
                      data-bs-toggle="tab"
                      href="#account-detail"
                      role="tab"
                      aria-controls="account-detail"
                      aria-selected="true"
                      ><i class="fi-rs-user mr-10"></i>Account details</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-9">
              <div class="tab-content account dashboard-content pl-50">
                <div
                  class="tab-pane fade active show"
                  id="dashboard"
                  role="tabpanel"
                  aria-labelledby="dashboard-tab"
                >
                  <div class="card">
                    <div class="card-header">
                      <h3 class="mb-0">Hello {{ user[0].displayName }}!</h3>
                      <p>
                        {{ user[0].email }}
                      </p>
                    </div>
                    <div class="card-body">
                      <p>
                        From your account dashboard. you can easily check &amp;
                        view your recent orders,<br />
                        manage your shipping and billing addresses and edit your
                        password and account details.
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="orders"
                  role="tabpanel"
                  aria-labelledby="orders-tab"
                >
                  <div class="card">
                    <div class="card-header">
                      <h3 class="mb-0">Your Orders</h3>
                    </div>
                    <div class="card-body">
                      <div class="container margin-left">
                        <p-dropdown
                          class="dropdown"
                          [options]="bookingType"
                          optionLabel="name"
                          (onChange)="bookingChange($event)"
                        >
                        </p-dropdown>
                      </div>
                      <div class="table-responsive">
                        <p-table
                          #dt
                          [value]="bookingsData"
                          dataKey="id"
                          [rowHover]="true"
                          [rows]="10"
                          [showCurrentPageReport]="true"
                          [rowsPerPageOptions]="[5, 10, 25, 50]"
                          [paginator]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                          [filterDelay]="0"
                        >
                          <ng-template pTemplate="header">
                            <tr>
                              <th pSortableColumn="bookingId">Booking Id</th>
                              <th
                                pSortableColumn="courseName"
                                *ngIf="!bookingCourse"
                              >
                                Event Name
                              </th>
                              <th
                                pSortableColumn="courseName"
                                *ngIf="bookingCourse"
                              >
                                Course Name
                              </th>
                              <th
                                pSortableColumn="category"
                                *ngIf="!bookingCourse"
                              >
                                Venue
                              </th>
                              <th
                                pSortableColumn="category"
                                *ngIf="bookingCourse"
                              >
                                Category
                              </th>
                              <th pSortableColumn="dateTime">
                                Booked Date Time
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-booking let-i>
                            <tr class="p-selectable-row">
                              <td>
                                <span class="p-column-title">Booking Id</span>
                                {{ booking.id }}
                              </td>
                              <td *ngIf="!bookingCourse">
                                <span class="p-column-title">Event Name</span>
                                <span class="image-text">
                                  <span>{{ booking.eventName }}</span></span
                                >
                              </td>
                              <td *ngIf="bookingCourse">
                                <span class="p-column-title">Course Name</span>
                                <span class="image-text">
                                  <span>{{ booking.courseName }}</span></span
                                >
                              </td>
                              <td *ngIf="!bookingCourse">
                                <span class="p-column-title">Venue</span>
                                <span class="image-text">
                                  <span>{{ booking.venue }}</span></span
                                >
                              </td>
                              <td *ngIf="bookingCourse">
                                <span class="p-column-title">Category</span>
                                <span class="image-text">
                                  <span>{{ booking.category }}</span></span
                                >
                              </td>
                              <td>
                                <span class="p-column-title"
                                  >Booked Date Time</span
                                >
                                <span class="image-text">{{
                                  booking.bookedDateTime | date: "short"
                                }}</span>
                              </td>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                            <tr>
                              <td colspan="8">No Bookings found.</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="account-detail"
                  role="tabpanel"
                  aria-labelledby="account-detail-tab"
                >
                  <div class="card">
                    <div class="card-header">
                      <h5>Account Details</h5>
                    </div>
                    <div class="card-body">
                      <form [formGroup]="updateAccountDetails">
                        <div class="row">
                          <div class="form-group col-md-6">
                            <label
                              >First Name <span class="required">*</span></label
                            >
                            <input
                              required=""
                              class="form-control"
                              name="name"
                              type="text"
                              formControlName="fname"
                            />
                          </div>
                          <div class="form-group col-md-6">
                            <label
                              >Last Name <span class="required">*</span></label
                            >
                            <input
                              required=""
                              class="form-control"
                              name="phone"
                              formControlName="lname"
                            />
                          </div>

                          <div class="col-md-12">
                            <button
                              class="btn btn-fill-out submit font-weight-bold"
                              (click)="updateUserData()"
                            >
                              Save Change
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<app-footer></app-footer>
