<p-toast key="addedSuccess" position="top-center"></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  header="Confirmation"
  icon="pi pi-exclamation-triangle"
></p-confirmDialog>
<p-dialog
  header="Add Course"
  [(visible)]="addCourseDisplay"
  [breakpoints]="{ '960px': '65vw', '640px': '100vw' }"
  [style]="{ width: '45vw' }"
>
  <app-add-courses
    (hideDialog)="addCourseDisplay = false"
    (hideAddData)="changeSaveDataDisplay($event)"
    [updateData]="updateData"
  ></app-add-courses>
</p-dialog>
<app-menu [activeState]="'Courses'"></app-menu>

<form>
  <div class="container my-5">
    <div class="right">
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-trash"
        label="Delete"
        class="p-button-raised p-button-rounded p-button-danger mx-3"
        (click)="deleteCourse()"
      ></button>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-plus"
        label="Add"
        class="p-button-raised p-button-rounded p-button-success mx-2"
        (click)="addCourse()"
      ></button>
    </div>
  </div>
  <div>
    <div class="container">
      <p-table
        #dt
        [value]="courseData"
        [(selection)]="selectedCourse"
        dataKey="id"
        [rowHover]="true"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [filterDelay]="0"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"></th>
            <th pSortableColumn="courseName">
              Course Name <p-sortIcon field="courseName"></p-sortIcon>
            </th>
            <th pSortableColumn="category">
              Category <p-sortIcon field="catergory"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Description <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="host">
              Host <p-sortIcon field="host"></p-sortIcon>
            </th>
            <th pSortableColumn="duration">
              Duration <p-sortIcon field="duration"></p-sortIcon>
            </th>
            <th pSortableColumn="date">
              Date <p-sortIcon field="date"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              Price <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="showOnFirstPage">
              Show On First Page
              <p-sortIcon field="showOnFirstPage"></p-sortIcon>
            </th>
            <th pSortableColumn="status">
              Status <p-sortIcon field="status"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-course>
          <tr class="p-selectable-row" (click)="updateItem(course)">
            <td>
              <p-checkbox
                name="course.courseName"
                [value]="course"
                (onChange)="selectedCourses(course)"
              ></p-checkbox>
            </td>
            <td>
              <span class="p-column-title">Course Name</span>
              {{ course.courseName }}
            </td>
            <td>
              <span class="p-column-title">Category</span>
              <span class="image-text">{{ course.category }}</span>
            </td>
            <td>
              <span class="p-column-title">Description</span>
              <span class="image-text">{{ course.description }}</span>
            </td>
            <td>
              <span class="p-column-title">Host</span>
              <span class="image-text">{{ course.host }}</span>
            </td>
            <td>
              <span class="p-column-title">Duration</span>
              <span class="image-text">{{ course.duration }}</span>
            </td>
            <td>
              <span class="p-column-title">Date</span>
              {{ course.date.toDate() | date: "EEEE, MMMM d, yyyy h:mm a" }}
            </td>
            <td>
              <span class="p-column-title">Price</span>
              <span>{{ course.price }}</span>
            </td>

            <td>
              <span class="p-column-title">Show On First Page</span>
              <span>{{ course.showOnFirstPage }}</span>
            </td>
            <td>
              <span class="p-column-title">Status</span>
              <span>{{ course.status }}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="12">No customers found.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>
