<?xml version="1.0" encoding="utf-8"?>
<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  style="
    margin: auto;
    background: rgb(241, 242, 243);
    display: block;
    shape-rendering: auto;
  "
  width="263px"
  height="263px"
  viewBox="0 0 100 100"
  preserveAspectRatio="xMidYMid"
>
  <g transform="rotate(0 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.2007504690431519s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(5.538461538461538 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.1819887429643525s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(11.076923076923077 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.1632270168855534s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(16.615384615384617 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.144465290806754s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(22.153846153846153 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.125703564727955s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(27.692307692307693 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.1069418386491556s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(33.23076923076923 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.0881801125703563s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(38.76923076923077 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.0694183864915572s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(44.30769230769231 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.0506566604127578s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(49.84615384615385 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.0318949343339587s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(55.38461538461539 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-1.0131332082551594s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(60.92307692307692 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.9943714821763602s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(66.46153846153847 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.9756097560975608s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(72 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.9568480300187616s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(77.53846153846153 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.9380863039399624s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(83.07692307692308 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.9193245778611632s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(88.61538461538461 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.900562851782364s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(94.15384615384616 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.8818011257035646s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(99.6923076923077 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.8630393996247654s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(105.23076923076923 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.8442776735459662s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(110.76923076923077 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.8255159474671669s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(116.3076923076923 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.8067542213883677s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(121.84615384615384 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.7879924953095684s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(127.38461538461539 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.7692307692307692s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(132.92307692307693 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.7504690431519699s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(138.46153846153845 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.7317073170731707s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(144 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.7129455909943714s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(149.53846153846155 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.6941838649155722s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(155.07692307692307 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.6754221388367729s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(160.6153846153846 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.6566604127579737s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(166.15384615384616 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.6378986866791745s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(171.69230769230768 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.6191369606003752s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(177.23076923076923 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.6003752345215759s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(182.76923076923077 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.5816135084427767s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(188.30769230769232 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.5628517823639775s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(193.84615384615384 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.5440900562851781s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(199.3846153846154 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.5253283302063789s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(204.92307692307693 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.5065666041275797s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(210.46153846153845 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.4878048780487804s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(216 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.4690431519699812s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(221.53846153846155 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.450281425891182s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(227.07692307692307 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.4315196998123827s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(232.6153846153846 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.41275797373358347s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(238.15384615384616 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.3939962476547842s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(243.69230769230768 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.37523452157598497s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(249.23076923076923 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.3564727954971857s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(254.76923076923077 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.33771106941838647s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(260.3076923076923 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.31894934333958724s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(265.84615384615387 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.30018761726078796s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(271.38461538461536 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.28142589118198874s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(276.9230769230769 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.26266416510318946s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(282.46153846153845 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.2439024390243902s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(288 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.225140712945591s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(293.53846153846155 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.20637898686679174s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(299.0769230769231 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.18761726078799248s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(304.61538461538464 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.16885553470919323s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(310.15384615384613 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.15009380863039398s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(315.6923076923077 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.13133208255159473s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(321.2307692307692 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.1125703564727955s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(326.7692307692308 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.09380863039399624s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(332.3076923076923 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.07504690431519699s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(337.84615384615387 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.05628517823639775s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(343.38461538461536 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.037523452157598496s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(348.9230769230769 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="-0.018761726078799248s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <g transform="rotate(354.46153846153845 50 50)">
    <rect x="46" y="34.5" rx="4" ry="0.5" width="8" height="1" fill="#1d0e0b">
      <animate
        attributeName="opacity"
        values="1;0"
        keyTimes="0;1"
        dur="1.2195121951219512s"
        begin="0s"
        repeatCount="indefinite"
      ></animate>
    </rect>
  </g>
  <!-- [ldio] generated by https://loading.io/ -->
</svg>
