<app-menu [activeState]="'Blogs'"></app-menu>

<main class="main m-t-80">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a [routerLink]="''"><i class="fi-rs-home mr-5"></i>Home</a>
        <span></span> <a>Buzz</a> <span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-11 col-lg-12 m-auto">
      <div class="row">
        <div class="col-lg-9">
          <div class="single-page pt-50 pr-30" *ngFor="let blog of blogsData">
            <div class="single-header style-2">
              <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                  <h6 class="mb-10">
                    <a>{{ blog.category }}</a>
                  </h6>
                  <h2 class="mb-10">
                    {{ blog.blogName }}
                  </h2>
                  <div class="single-header-meta">
                    <div class="entry-meta meta-1 font-xs mt-15 mb-15">
                      <span class="post-by"
                        >By <a>{{ blog.author }}</a></span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <figure class="single-thumbnail">
              <img src="{{ blog.fileName }}" alt="" class="buzz-banner" />
            </figure>
            <div class="single-content">
              <div class="row">
                <div class="col-xl-10 col-lg-12 m-auto">
                  <p
                    class="single-excerpt"
                    [ngClass]="{ limitTextHeight: isReadMore }"
                    style="white-space: pre-line"
                  >
                    {{ blog.description }}
                  </p>
                  <button type="button" class="btn" (click)="showText()">
                    {{ isReadMore ? "Read More" : "Read Less" }}
                  </button>
                  <!--Entry bottom-->
                  <div class="entry-bottom mt-50 mb-30">
                    <div class="tags w-50 w-sm-100">
                      <!-- <a
                        rel="tag"
                        class="hover-up btn btn-sm btn-rounded mr-10"
                        >{{ blog.tag }}</a
                      > -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<app-footer></app-footer>
