<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <h5 class="h1 text-white">Mediyush</h5>
        <p class="small text-muted"></p>
        <p class="small text-muted mb-0">
          &copy; Copyrights. All rights reserved.
          <a class="text-primary" href="#">Mediyush.com</a>
        </p>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">Quick links</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Courses</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3">Social</h5>
        <ul class="list-unstyled text-muted">
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-3">Contact Details</h5>
        <p class="small text-muted">Email :</p>
      </div>
    </div>
  </div>
</footer>
